
.selectbox { position: relative; z-index: 8 !important; }
.selectbox .dropdown { top: 75px !important; left: -1px; padding: 14px 0; z-index: 10; background-color: #fff; bottom: auto !important; color: #fff; width: calc(100%);  box-shadow: 0 5px 8px rgba(0,0,0,0.2); border: 1px solid #a8998c; }
.selectbox .dropdown li { height: 2em; line-height: 2em; min-width: 200px; transition: all .2s ease; padding: 0 19px; cursor: pointer; color: #453f3f; border-radius: 0; }
.selectbox .dropdown li:hover { background: #8e8073; color: #fff;  }
.select { cursor: pointer; transition: all .2s ease; }
.select:hover { background-color: rgba(255,255,255,.4); }